.main-nav li,
.footerLinks {
  list-style-type: none;
  margin-top: 4px;
  @include padding(10px);
}



a {
	text-decoration: none;
	display: $block;


  &.social {
      display: inline-block;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .4;
      transition: all .5s;
      } 

  &.github {
      background-image: url(#{$path}/github.svg);
      }
  &.googlePlus {
      background-image: url(#{$path}/google_plus.svg);
      } 

  &.social:hover {
      opacity: 1; }

  &:link,
  &:visited,
  &:hover,
  &:active {
      color: black;
      font-size: $link-font-size;
      @extend %font700;

      @include desktop {
           color: black;
           font-size: 15px;
           font-weight: 700;
      }
    }    
}

.main-nav li, 
  a  {

   @include tablet {
    display: $inline;
    background-color: #F5F5F5;
    padding-right: 25px;
    }
  }

.footerLinks {
	display: $none;
}

