.secondary-footer {
	display: flex;
	justify-content: space-between;
	border-top: solid 1px #C0C0C0;
	padding: 15px 0;
	width: 90%;
	margin: 0 auto;
}

.secondary-footer p {
    font-weight: 700;

}

.secondary-footer a {
	font-size: 16px;
	}

.main-footer ul {
	list-style: none;
}

.main-footer li {
	display: inline;
}
