@media (min-width: 768px) {
	
	.profile {
		float: right;
		padding-left: 20px;
	}

	.container {
		width: 100%;
	}
    .main-header .container {
    	width: 90%;
    }

    .main-header p {
    	text-align: left;
    }

	.main-nav {
		padding-bottom: 50px;
	}
	
	.card {
		max-width: 50%;
		padding: 0 2.5% 50px;
		float: left;
	}
    
    /*  .card p max width prevents layout from breaking while growing */

    .card p {
    	width: 80%;
    	margin: 0 auto;
    }

	.main-nav li, 
	a  {
		display: inline;
		background-color: #F5F5F5;
		padding-right: 25px;
	}
    
    .backTop {
    	display: none;
    }

    .main-footer .container {
    	width: 70%;
    }


    .footerLinks,
    .footerLinks li {
    	display: inline;
    	font-weight: 700;

    }


}


