
// Color variables: 

$white			: #fff;
$lightgrey		: #F5F5F5;

// Font stack variables: 

$main-font-stack		: 'Open Sans', sans-serif;


// Font size variables: 

$main-font-size     :   16px;
$link-font-size		:   20px;


// Margin variables: 

$auto		:  0 auto;

// Display variables: 

$inline 	: inline;
$none		: none;
$table	 	: table;
$block 		: block;

// Image paths: 

$path 		: '../images';


// Mediaquery breakpoints 

$media768	: '(min-width: 768px)';
$media1024	: '(min-width: 1024px)';